---
import { localizePath } from "astro-i18next";
---

<nav>
  <ul class="flex ml-6 gap-4 text-secondary-content">
    <li>
      <a href={localizePath("/")} class="text-xl hover:underline">Home</a>
    </li>
    <li>
      <a href={localizePath("/about")} class="text-xl hover:underline">About</a>
    </li>
  </ul>
</nav>
