---
import i18next, { t } from "i18next";
import { HeadHrefLangs, LanguageSelector } from "astro-i18next/components";
import { format } from "date-fns";
import { enUS, he, it } from "date-fns/locale";
import NavBar from "../components/NavBar.astro";

const locales: { [key: string]: Locale } = {
  en: enUS,
  he,
  it,
};
---

<!DOCTYPE html>
<html lang={i18next.language} data-theme="garden" dir={i18next.dir()}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{t("site.title")}</title>
    <meta name="description" content={t("site.description")} />
    <HeadHrefLangs />
  </head>
  <body class="flex flex-col min-h-screen mx-auto max-w-4xl">
    <header>
      <div class="text-right p-4">
        <LanguageSelector
          showFlag={true}
          class="select select-bordered text-2xl"
        />
      </div>
      <div class="text-center uppercase">
        <h1 class="text-6xl text-neutral">
          {t("header.title")}
        </h1>
        <h2 class="mt-4 text-xl text-secondary-content">
          {
            format(new Date("2023-08-31T18:00:00+01:00"), "PP", {
              locale: locales[i18next.language],
            })
          } &nbsp;•&nbsp; The location
        </h2>
      </div>
      <NavBar />
    </header>
    <slot />
    <footer class="p-6 mt-auto">
      <h2 class="text-center text-xl">{t("footer.abbreviation")}</h2>
    </footer>
  </body>
</html>
